In [6]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

ModuleNotFoundError: No module named 'gmaps'

In [7]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Hermanus,ZA,2022-01-25 20:02:17,-34.4187,19.2345,67.80,73,70,14.85
1,1,Isangel,VU,2022-01-25 20:06:07,-19.5500,169.2667,81.95,80,10,2.66
2,2,Fare,PF,2022-01-25 20:07:28,-16.7000,-151.0167,80.44,79,97,15.93
3,3,Arraial Do Cabo,BR,2022-01-25 20:03:27,-22.9661,-42.0278,80.46,74,0,27.63
4,4,Havelock,US,2022-01-25 20:07:29,34.8791,-76.9013,56.05,71,100,1.99